@charset "UTF-8";

@font-face {
  font-family: "sosmed";
  src:url("fonts/sosmed.eot");
  src:url("fonts/sosmed.eot?#iefix") format("embedded-opentype"),
    url("fonts/sosmed.woff") format("woff"),
    url("fonts/sosmed.ttf") format("truetype"),
    url("fonts/sosmed.svg#sosmed") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "sosmed" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "sosmed" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
  content: "a";
}
.icon-googleplus:before {
  content: "b";
}
.icon-tumblr:before {
  content: "c";
}
.icon-twitter:before {
  content: "d";
}
.icon-facebook:before {
  content: "e";
}
.icon-pinterest:before {
  content: "f";
}
